
body{
    background-color: rgb(252, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    background-color: lightgray;
}

.container{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
}

.add{
    width: 500px;
    height: 50px;
    padding: 10px;
    display: flex;
}

#num{
    margin-left: 20px;
}
.final{
    height: 25px;
}




